.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
}

.overlay-content {
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
