@import "icons";
@import '../src/ui/overlays/overlay';
@import '../src/ui/overlays/KeyMapper/keyMapper';
@import '../src/ui/overlays/KeyMapper/MidiMapper/midiMapper';
@import '../src/ui/overlays/WaveEditor/waveEditor';
@import '../src/ui/popups/Effects/effects';
@import '../src/ui/popups/popup';

* {
    margin: 0;
    padding: 0;
}


p {
    color: green;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.e-io {
    transition: all .1s ease-in-out;
}

.hover-grow:hover {
    transform: scale(1.1);
}

.hover-grow {
    transform: scale(1);
}

.click-shrink {
    transform: scale(1);

}

.click-shrink:active {
    transform: scale(.9);

}

#canvas {
    position: absolute;
}


.centered {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}
